@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 100%;
    padding: 20px;
}

.home-container {
    margin: 20px;
    padding: 10px;
    background: rgb(160, 161, 168);
    text-align: left;
}

.home-container h5 {
    background: rgb(229, 228, 235);
    margin-bottom: 5px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(43, 147, 217);
}

.event-container {
    padding: 20px;
    text-align: left;
}

.event-container h1 {
    margin: 10px;
}

.event-container img {
    max-width: 30%;
    margin: 10px;
}

.event-container h4,
p {
    font-weight: 400;
    margin: 10px;
}

.event-container button {
    margin: 10px;
    background: rgb(3, 132, 62);
    border: none;
    padding: 7.5px;
    border-radius: 2px;
}

.event-container button a {
    color: whitesmoke;
}